<div>
    <p-card header="Login"
        class="flex flex-col justify-center items-center h-screen mx-auto p-4 max-w-md my-8 border border-gray-200 rounded">
        <form (ngSubmit)="onLogin()">
            <div>
                <p-floatLabel>
                    <input pInputText id="username" name="username" [(ngModel)]="usuarioName"/>
                    <label for="username">Username</label>
                </p-floatLabel>
            </div>

            <div class="mt-6">
                <p-floatLabel>
                    <input pInputText id="password" name="password" type="password" [(ngModel)]="password"/>
                    <label for="password">Password</label>
                </p-floatLabel>
            </div>

            <div class="mt-5">
                <p-button label="Submit" type="submit"/>
            </div>
        </form>
    </p-card>
</div>